<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comidas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item *ngFor="let food of foods">
      <ion-thumbnail class="ion-margin-start">
        <ion-img src="../../../../assets/images/foodsDefault.png">
        </ion-img>
      </ion-thumbnail>

      <ion-label class="ion-margin-start">
        <h2><strong>{{ food.Name }}</strong></h2>
      </ion-label>

      <div class="item-note" item-end>
        <ion-icon color="primary" [ios]="'create-outline'" [md]="'create-sharp'" style="zoom:1.3"
          (click)="read(food.food_id)"></ion-icon>

        <ion-icon color="danger" [ios]="'trash-outline'" [md]="'trash-sharp'" style="zoom:1.3"
          (click)="delete(food.food_id)"></ion-icon>
      </div>
    </ion-item>
  </ion-content>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-button id="addFoodModal" shape="round">
        <ion-icon slot="start" [ios]="'add-outline'" [md]="'add-sharp'"></ion-icon>
        Adicionar Prato
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-modal trigger=addFoodModal [isOpen]="false" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent="" role="banner"
      class="md header-md header-translucent header-collapse-none header-translucent-md hydrated">
      <ion-toolbar class="toolbar-title-default md in-toolbar hydrated">
        <ion-title class="md title-default hydrated">Cadastro de Comidas</ion-title>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="dismissModal()">
            <ion-icon slot="start" [ios]="'close-outline'" [md]="'close-sharp'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form [formGroup]="formFood">
        <ion-item style="margin-bottom: 1rem;">
          <ion-label position="stacked">Nome: </ion-label>
          <ion-input type="text" formControlName="name" minlength="1" maxlength="50" placeholder="ex: Bolo de Morango">
          </ion-input>
        </ion-item>

        <ion-item style="margin-bottom: 1rem;">
          <ion-label position="stacked">Valor(R$): </ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="price" placeholder="ex: 15,00"
            (ionChange)="mascaraPrice()"></ion-input>
        </ion-item>

        <ion-item style="margin-bottom: 1rem;">
          <ion-label position="stacked">Tempo de Preparo(minutos): </ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="time" placeholder="ex: 5"
            (ionChange)="mascaraTime()"></ion-input>
        </ion-item>

        <ion-item style="margin-bottom: 1rem;">
          <ion-label position="stacked">Observações: </ion-label>
          <ion-textarea formControlName="note" maxlength="300"></ion-textarea>
        </ion-item>

        <ion-item style="margin-bottom: 1rem;">
          <ion-label position="stacked">Imagem: </ion-label>
          <ion-input type="file" formControlName="img"></ion-input>
        </ion-item>
      </form>
    </ion-content>

    <ion-footer class="md footer-md footer-translucent footer-collapse-none footer-translucent-md hydrated">
      <ion-toolbar class="toolbar-title-default md in-toolbar hydrated">
        <ion-buttons slot="end">
          <ion-button color="primary" disabled={{!formFood.valid}} (click)="AddFood()" fill="solid" >
            Incluir</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>