<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cardápio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list-header lines="inset" class="box-item">
      <ion-avatar class="box-avatar">
        <ion-img class="" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
      </ion-avatar>
      <ion-label>Service Name</ion-label>
      <ion-icon id="dynamic" (click)="createModal()" class="box-dropDown" name="eye-outline"></ion-icon>
    </ion-list-header>

    <ion-modal trigger="dynamic">
      <app-details></app-details>
    </ion-modal>

  </div>
</ion-content>
