ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  padding: 1rem 1rem 1rem 0.2rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.box-item {
  margin: 1rem 0;

  font-size:1.1rem;
}

.box-avatar {
  border: 1px solid red;

  width: 2.5rem;
  height: 2.5rem;

  margin-right: 1rem
}

.box-dropDown {
  font-size:1.4rem;
}
